:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #333;
  --gradient-colors: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  height: 80px;
  background: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.logo {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0 1.5rem;
}

nav a:hover {
  color: var(--primary-color);
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
  text-align: center;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  padding: 0rem 2rem;
  text-align: center;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 4rem; /* Increased font size */
  text-align: center;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 2rem; /* Increased font size */
  line-height: 1.5;
  text-align: center;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: var(--secondary-color);
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, color 0.3s;
}

button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn {
  margin: 100px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: var(--secondary-color);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  background: var(--accent-color);
  transition: background 0.3s, color 0.3s;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn::before {
  content: "";
  background: var(--gradient-colors);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.btn:hover::before {
  opacity: 1;
}

.btn:active::after {
  background: transparent;
}

.btn:active {
  color: var(--secondary-color);
  font-weight: bold;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content {
  flex: 1;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  padding: 10px;
  background-color: #444;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  flex: 1; /* Allow items to grow and shrink */
  text-align: center;
}

@media (max-width: 600px) {
  .logo {
    display: none; /* Hide logo on small screens */
  }
  .footer {
    padding: 10px 20px;
  }
  .navbar a {
    flex-basis: 100%; /* Make each link take full width on small screens */
  }
  button {
    margin: 0 auto; /* Center buttons on small screens */
  }
}

